@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400;1,500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #0b0c10;
}
a {
    text-decoration: none;
}
.main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #0b0c10;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #1f2833;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li a {
    padding: 10px 15px;
    color: #66fcf1;
    font-size: 12px;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    color: #66fcf1;
    font-family: Poppins;
}
.menu li a:hover,
.active {
    background-color: #66fcf1;
    color: #1f2833 !important;
    font-weight: 700;
    transition: all ease 0.4s;
}





/***********************************************************
HOME HEADING START
 ***********************************************************/





.name {
    font-family: calibri;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%)
}
.name p:nth-child(1),
.name, .intro {
    color: #c5c6c7;
    font-size: 16px;
}
.name h1 {
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #c5c6c7;
}
.resume-btn {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45a29e;
    color: #fff;
}
.resume-btn:hover {
    background-color: #66fcf1;
    color: #000;
    transition: all ease 0.5s;
}




 
/***********************************************************
HOME HEADING END
 ***********************************************************/




/***********************************************************
ARROW DESIGN
 ***********************************************************/
 



 
.arrow {
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid #66fcf1;
}
.arrow::after{
    content:'';
    position: absolute;
    width: 0%;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #66fcf1 transparent transparent transparent;
    right: -0.7rem;
    bottom: -2px;
}




 
/***********************************************************
ARROW DESIGN
 ***********************************************************/














/***********************************************************
DETAILS SECTION START
 ***********************************************************/




 
.about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.about-text {
    font-family: calibri;
    width: 50%;
}
.about-text h1 {
    font-size: 5rem;
    color: #66fcf1;
}
.about-text h2 {
    font-size: 3rem;
    color: #66fcf1;
    font-weight: 400;
}
.about-text h1, h2 {
    margin: 0px;
    padding: 0px;
}
.about-text p {
    font-size: 1.2rem;
    color: #66fcf1;
}
.moreBtn {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #45a29e;
    color: #fff;
}
.moreBtn:hover {
    background-color: #66fcf1;
    color: #000;
    transition: all ease 0.3s;
}




 
/***********************************************************
DETAILS SECTION END
 ***********************************************************/














/***********************************************************
SERVICES SECTINO START
 ***********************************************************/




 
.services {
    width: 100%;
    height: 100vh;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.services-heading h1 {
    color: #fff;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}
.services-heading p {
    color: #66fcf1;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.services-heading {
    text-align: center;
    margin: 20px 0px;
}
.services-box {
    background-color: #45a29e;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}
.services-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-image {
    width: 100%;
    height: 70%;
}
.services-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services-text{
    width: 100%;
    height: 30%;
    background-color: #1f2833;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-text a {
    margin: 0px;
    color: #fff;
    font-size: 1.1rem;
    font-family: calibri;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp:4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.servcies-text a:hover {
    color: #fff;
}
.services-type {
    font-family: calibri;
    color: #fff;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}




 
/***********************************************************
SERVICE SECTION END
 ***********************************************************/














/***********************************************************
PORTFOLIO SECTION START
 ***********************************************************/




 
.portfolio {
    width: 100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 20px 2%;
}
.p-heading {
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #45a29e;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,01.1);
}
.p-box {
    background-color: #45a29e;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    position: relative;
}
.p-box img {
    width: 100%;
    height: 100%;
}
.p-container {
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.text-overlay {
    font-family: calibri;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #45a29e;
    opacity: 0.89;
    display: none;
}
.text-overlay h1, p {
    color: #fff;
}
.text-overlay h1 {
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
.text-overlay p {
    font-size: 1.2rem;
    margin: 0px;
}




 
/***********************************************************
PORTFOLIO END
 ***********************************************************/














/***********************************************************
CONTACT SECTION START
 ***********************************************************/




 
 .contactBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #45a29e;
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 2px 0px 20px rgba(0,0,0,0.4);
}
.contactBtn h1 {
    font-size: 2rem;
    color: #fff;
    font-family: calibri;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #0b0c10;
}
.contactBtn a {
    color: #fff;
    font-size: 1rem;
    font-family: calibri;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #1f2833;
    box-shadow: 2px 5px 6px rgba(0.0.0.0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactBtn a:hover {
    background-color: #66fcf1;
    color: #000;
    transition: all ease 0.5s;
    font-weight: 700;
}





 
/***********************************************************
CONTACT SECTION END
***********************************************************/














/***********************************************************
FEEDBACK AND CONCERN SECTION START 
***********************************************************/





 
.contact-form {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form form {
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1a1a1a;
    box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.01);
}
.contact-left {
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-right {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.colLeftHeading {
    font-family: calibri;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.form-email, .form-name {
    display: flex;
    flex-direction: column;
    font-family: calibri;
}
.form-email font, .form-name font {
    color: #fff;
    font-size: 22px;
}
.form-email input, .form-name input {
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #fff;
    margin: 10px 0px;
}
.form-email input::placeholder, .form-name input::placeholder {
    opacity: 0.5;
    letter-spacing: 1px;
}
.form-email input::focus, .form-name input::focus {
    border-bottom: 1px solid #45a29e;
    transition: all ease 0.5s;
}
.message font {
    font-size: 18px;
    color: #fff;
    font-family: calibri;
}
.message {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.contact-right textarea {
    width: 100%;
    height: 320px;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
}
.contact-right textarea::placeholder {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: calibri;
}
.contact-right button{
    width: 100%;
    height: 50px;
    background-color: #1ed98b;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color: #1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}





 
/***********************************************************
FEEDBACK AND CONCERN SECTION END 
***********************************************************/





/***********************************************************
Responsiveness CSS SECTION
***********************************************************/




















































}